:root{
    text-align: center;
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: black;
    margin-top:1rem;
    padding: 4rem;

}
input{
    width:50%;
    border: 1px solid black;
    border-radius: 5px;
}

.App{
    border-radius: 120px;
}